<!DOCTYPE html> 
<html>
    <head>
        <title><%= title %></title>
        <meta property="og:type" content="image">
        <meta property="og:title" content="<%= title %>">
        <meta property="og:description" content="<%= description %>">
        <meta property="og:image" content="https://">
    </head>
    <body>
        <h2>Result</h2>
        <p>desc: <%= description %></p>
        <img src="<%= imageSrc %>" />
    </body>
</html>
