<!DOCTYPE html> 
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h2>Result</h2>
        <p>url: <%= url %> (<= 복사해서 공유)</p>
        <p>title: <%= title %></p>
        <p>desc: <%= description %></p>
        <img src="<%= imageSrc %>" />
    </body>
</html>
